In [18]:
import numpy as np 
import pandas as pd

In [19]:
data=pd.read_csv("C:/Users/vaishu/Documents/12.real state.csv")
data

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
0,3526 HIGH ST,SACRAMENTO,95838,CA,2,1,836,Residential,Wed May 21 00:00:00 EDT 2008,59222,38.631913,-121.434879
1,51 OMAHA CT,SACRAMENTO,95823,CA,3,1,1167,Residential,Wed May 21 00:00:00 EDT 2008,68212,38.478902,-121.431028
2,2796 BRANCH ST,SACRAMENTO,95815,CA,2,1,796,Residential,Wed May 21 00:00:00 EDT 2008,68880,38.618305,-121.443839
3,2805 JANETTE WAY,SACRAMENTO,95815,CA,2,1,852,Residential,Wed May 21 00:00:00 EDT 2008,69307,38.616835,-121.439146
4,6001 MCMAHON DR,SACRAMENTO,95824,CA,2,1,797,Residential,Wed May 21 00:00:00 EDT 2008,81900,38.519470,-121.435768
...,...,...,...,...,...,...,...,...,...,...,...,...
980,9169 GARLINGTON CT,SACRAMENTO,95829,CA,4,3,2280,Residential,Thu May 15 00:00:00 EDT 2008,232425,38.457679,-121.359620
981,6932 RUSKUT WAY,SACRAMENTO,95823,CA,3,2,1477,Residential,Thu May 15 00:00:00 EDT 2008,234000,38.499893,-121.458890
982,7933 DAFFODIL WAY,CITRUS HEIGHTS,95610,CA,3,2,1216,Residential,Thu May 15 00:00:00 EDT 2008,235000,38.708824,-121.256803
983,8304 RED FOX WAY,ELK GROVE,95758,CA,4,2,1685,Residential,Thu May 15 00:00:00 EDT 2008,235301,38.417000,-121.397424
984,3882 YELLOWSTONE LN,EL DORADO HILLS,95762,CA,3,2,1362,Residential,Thu May 15 00:00:00 EDT 2008,235738,38.655245,-121.075915

In [20]:
data.columns

Index(['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq__ft', 'type',
       'sale_date', 'price', 'latitude', 'longitude'],
      dtype='object')

In [21]:
#Find	City wise list all the Villa which is not less than ten thousand.
filtered_villas = data[(data['type'] == 'villa') & (data['price'] >= 10000)]
city_villa_groups = filtered_villas.groupby('city')
for city, villas in city_villa_groups:
    print(f"City: {city}")
    for _, villa in villas.iterrows():
        print(f"Villa: {villa['street']} - Price: {villa['price']}")
    print("=" * 30)

City: ANTELOPE
Villa: 8020 WALERGA RD - Price: 115000
==============================
City: AUBURN
Villa: 2231 COUNTRY VILLA CT - Price: 260000
==============================
City: CAMERON PARK
Villa: 3035 ESTEPA DR Unit 5C - Price: 119000
==============================
City: CARMICHAEL
Villa: 4010 ALEX LN - Price: 250134
Villa: 7032 FAIR OAKS BLVD - Price: 139500
Villa: 7110 STELLA LN Unit 15 - Price: 182000
==============================
City: CITRUS HEIGHTS
Villa: 6236 LONGFORD DR Unit 1 - Price: 116250
Villa: 6272 LONGFORD DR Unit 1 - Price: 69000
==============================
City: ELK GROVE
Villa: 5201 LAGUNA OAKS DR Unit 140 - Price: 133000
Villa: 5201 LAGUNA OAKS DR Unit 162 - Price: 141000
Villa: 9512 EMERALD PARK DR Unit 3 - Price: 71000
Villa: 5201 LAGUNA OAKS DR Unit 199 - Price: 98000
Villa: 5201 LAGUNA OAKS DR Unit 172 - Price: 100000
Villa: 5201 LAGUNA OAKS DR Unit 126 - Price: 145000
==============================
City: FAIR OAKS
Villa: 5333 PRIMROSE DR Unit 19A - Price: 142500
==============================
City: FOLSOM
Villa: 611 BLOSSOM ROCK LN - Price: 240000
==============================
City: GOLD RIVER
Villa: 11281 STANFORD COURT LN Unit 604 - Price: 300000
==============================
City: LINCOLN
Villa: 1530 TOPANGA LN Unit 204 - Price: 138000
Villa: 1550 TOPANGA LN Unit 207 - Price: 188000
==============================
City: RANCHO CORDOVA
Villa: 11150 TRINITY RIVER DR Unit 114 - Price: 94905
==============================
City: ROSEVILLE
Villa: 167 VALLEY OAK DR - Price: 115000
Villa: 227 MAHAN CT Unit 1 - Price: 127000
Villa: 10001 WOODCREEK OAKS BLVD Unit 1415 - Price: 150000
Villa: 140 VENTO CT - Price: 212500
Villa: 281 SPYGLASS HL - Price: 350000
Villa: 10001 WOODCREEK OAKS BLVD Unit 815 - Price: 170000
Villa: 9197 CORTINA CIR - Price: 220000
==============================
City: SACRAMENTO
Villa: 5828 PEPPERMILL CT - Price: 89921
Villa: 7340 HAMDEN PL - Price: 110700
Villa: 2442 LARKSPUR LN - Price: 150000
Villa: 4800 WESTLAKE PKWY Unit 2109 - Price: 152000
Villa: 4236 NATOMAS CENTRAL DR - Price: 265000
Villa: 2340 HURLEY WAY - Price: 225000
Villa: 5840 WALERGA RD - Price: 40000
Villa: 923 FULTON AVE - Price: 48000
Villa: 5050 RHODE ISLAND DR Unit 4 - Price: 77000
Villa: 4513 GREENHOLME DR - Price: 82732
Villa: 9058 MONTOYA ST - Price: 90000
Villa: 3715 TALLYHO DR Unit 78HIGH - Price: 100000
Villa: 4200 COMMERCE WAY Unit 711 - Price: 120000
Villa: 9013 CASALS ST - Price: 126960
Villa: 4709 AMBER LN Unit 1 - Price: 230522
Villa: 301 OLIVADI WAY - Price: 232500
Villa: 3301 PARK DR Unit 1914 - Price: 238000
Villa: 1322 SUTTER WALK - Price: 360000
Villa: 8248 CENTER PKWY - Price: 77000
Villa: 6063 LAND PARK DR - Price: 104250
Villa: 4800 WESTLAKE PKWY Unit 410 - Price: 115000
Villa: 1900 DANBROOK DR - Price: 210944
Villa: 9127 NEWHALL DR Unit 34 - Price: 60000
Villa: 5672 HILLSDALE BLVD - Price: 62000
Villa: 550 DEL VERDE CIR - Price: 92000
Villa: 739 E WOODSIDE LN Unit E - Price: 107666
Villa: 5754 WALERGA RD Unit 4 - Price: 150454
==============================

In [22]:
#In GALT city which residential type has more than 800sq__ft. Display their respective details street,sq__ft,sale_date,city.
filtered_properties = data[(data['city'] == 'GALT') & (data['type'] == 'Residential') & (data['sq__ft'] > 800)]
for index, property_details in filtered_properties.iterrows():
    print("Street:", property_details['street'])
    print("Square Feet:", property_details['sq__ft'])
    print("Sale Date:", property_details['sale_date'])
    print("City:", property_details['city'])

Street: 1122 WILD POPPY CT
Square Feet: 1406
Sale Date: Wed May 21 00:00:00 EDT 2008
City: GALT
Street: 306 CAMELLIA WAY
Square Feet: 1130
Sale Date: Wed May 21 00:00:00 EDT 2008
City: GALT
Street: 404 6TH ST
Square Feet: 1479
Sale Date: Wed May 21 00:00:00 EDT 2008
City: GALT
Street: 1121 CREEKSIDE WAY
Square Feet: 1080
Sale Date: Tue May 20 00:00:00 EDT 2008
City: GALT
Street: 840 TRANQUIL LN
Square Feet: 1266
Sale Date: Tue May 20 00:00:00 EDT 2008
City: GALT
Street: 993 MANTON CT
Square Feet: 2307
Sale Date: Tue May 20 00:00:00 EDT 2008
City: GALT
Street: 796 BUTTERCUP CIR
Square Feet: 2159
Sale Date: Tue May 20 00:00:00 EDT 2008
City: GALT
Street: 1092 MAUGHAM CT
Square Feet: 3746
Sale Date: Tue May 20 00:00:00 EDT 2008
City: GALT
Street: 201 CARLO CT
Square Feet: 1080
Sale Date: Mon May 19 00:00:00 EDT 2008
City: GALT
Street: 746 MOOSE CREEK WAY
Square Feet: 1100
Sale Date: Mon May 19 00:00:00 EDT 2008
City: GALT
Street: 332 PALIN AVE
Square Feet: 1204
Sale Date: Mon May 19 00:00:00 EDT 2008
City: GALT
Street: 913 COBDEN CT
Square Feet: 1555
Sale Date: Mon May 19 00:00:00 EDT 2008
City: GALT
Street: 709 CIMMARON CT
Square Feet: 1798
Sale Date: Mon May 19 00:00:00 EDT 2008
City: GALT
Street: 1042 STARBROOK DR
Square Feet: 1928
Sale Date: Mon May 19 00:00:00 EDT 2008
City: GALT
Street: 200 OAKWILDE ST
Square Feet: 1606
Sale Date: Mon May 19 00:00:00 EDT 2008
City: GALT
Street: 925 COBDEN CT
Square Feet: 1140
Sale Date: Fri May 16 00:00:00 EDT 2008
City: GALT
Street: 294 SPARROW DR
Square Feet: 2214
Sale Date: Fri May 16 00:00:00 EDT 2008
City: GALT
Street: 1214 DAWNWOOD DR
Square Feet: 1548
Sale Date: Fri May 16 00:00:00 EDT 2008
City: GALT
Street: 82 WILDFLOWER DR
Square Feet: 1262
Sale Date: Thu May 15 00:00:00 EDT 2008
City: GALT
Street: 1178 WARMWOOD CT
Square Feet: 1770
Sale Date: Thu May 15 00:00:00 EDT 2008
City: GALT

In [23]:
#Which is the cheapest Villa in CA. name the city,street and price for the Villa
cheapest_villa = data[(data['state'] == 'CA') & (data['type'] == 'villa')].sort_values(by='price').iloc[0]
print("City:", cheapest_villa['city'])
print("Street:", cheapest_villa['street'])
print("Price:", cheapest_villa['price'])

City: SACRAMENTO
Street: 5840 WALERGA RD
Price: 40000

In [26]:
#List top 5 residency details which lie in the budget of 60000-120000, an area more than 1450, min bedroom 3 and, min bathroom 2.
top_5_properties = data.copy()
filtered_properties = top_5_properties.query(
    "60000 <= price <= 120000 and sq__ft > 1450 and beds >= 3 and baths >= 2"
)
print(filtered_properties.head(5))

           street        city    zip state  beds  baths  sq__ft          type  \
366  7342 GIGI PL  SACRAMENTO  95828    CA     4      4    1995  Multi-Family

                        sale_date   price   latitude   longitude
366  Mon May 19 00:00:00 EDT 2008  120000  38.490704 -121.410176